[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "abduco"]
	path = abduco
	url = https://github.com/martanne/abduco.git
[submodule "ruby/solargraph"]
	path = ruby/solargraph
	url = https://github.com/castwide/solargraph
